@model Blog
@{
    ViewData["Title"] = "交流";
}
 <section class="height-70 imagebg cover cover-3 parallax" data-overlay="3">
    <div class="background-image-holder">
        <img alt="image" src="~/img/hero22.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h1>关注我们的博客</h1>
            </div>
        </div>
        <!--end row-->
    </div>
</section>

 <section class="blog-post">
    <div class="blog-post__title bg--secondary">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h1>@Model.Title</h1>
                    <div class="blog-post__author">
                        <span>
                            <em>by </em>
                        </span>
                        <span class="h6">@Model.Author</span>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                @Model.Content

            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="blog-post__share">
                    <h5>Share this article</h5>
                    <a class="btn btn--sm bg--facebook" href="#">
                        <span class="btn__text">
                            <i class="socicon-facebook"></i> Share on Facebook
                        </span>
                    </a>
                    <a class="btn btn--sm bg--twitter" href="#">
                        <span class="btn__text">
                            <i class="socicon-twitter"></i> Share on Twitter
                        </span>
                    </a>
                    <a class="btn btn--sm bg--googleplus" href="#">
                        <span class="btn__text">
                            <i class="socicon-googleplus"></i> Share on GooglePlus
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="blog-post__comments">
                    <hr>
                    <h6>3 Comments:</h6>
                    <ul>
                        <li>
                            <div class="comment">
                                <div class="comment__image">
                                    <img alt="pic" src="img/avatar-small-4.png" />
                                </div>
                                <div class="comment__text">
                                    <h5>Abigail Roswell</h5>
                                    <span>
                                        <em>March 17th, 2016</em>
                                    </span>
                                    <p>
                                        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                    </p>
                                </div>
                                <hr>
                            </div>
                            <!--end comment-->
                            <ul>
                                <li>
                                    <div class="comment">
                                        <div class="comment__image">
                                            <img alt="pic" src="img/avatar-small-3.png" />
                                        </div>
                                        <div class="comment__text">
                                            <h5>Rick Vogel</h5>
                                            <span>
                                                <em>March 17th, 2016</em>
                                            </span>
                                            <p>
                                                Vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                            </p>
                                        </div>
                                        <hr>
                                    </div>
                                    <!--end comment-->
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="comment">
                                <div class="comment__image">
                                    <img alt="pic" src="img/avatar-small-1.png" />
                                </div>
                                <div class="comment__text">
                                    <h5>Lisa Wright</h5>
                                    <span>
                                        <em>March 15th, 2016</em>
                                    </span>
                                    <p>
                                        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.
                                    </p>
                                </div>
                                <hr>
                            </div>
                            <!--end comment-->
                        </li>
                    </ul>
                    <form class="comment__form form--square">
                        <h6>Leave a Comment</h6>
                        <input placeholder="Your Name" type="text" name="name" />
                        <input placeholder="Email Address" type="email" name="email" />
                        <textarea placeholder="Your Comment" name="comment" rows="4"></textarea>
                        <button type="submit" class="btn btn--primary">Submit Comment</button>
                    </form>
                </div>
                <!--end of blog comments-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


<style>
    .nav-bar.nav--transparent:not(.nav--scrolled):not(.nav--fixed) .menu > li > a {
    color: #232323;
}
</style>